body {
  background: #000;
  color: #f1f1f1;
  font-family: 'Helvetica Neue', Arial;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* CONTENEDOR */
.container {
  max-width: 700px;
  margin: 120px auto;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* TITULO */
h1 {
  font-size: 48px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

/* TEXTO */
p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* OPCIONES */
a {
  display: block;
  margin: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

a:hover {
  opacity: 0.4;
  transform: scale(1.05);
}
