@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111;
}

/* CONTENEDOR */
.container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  letter-spacing: 5px;
  margin: 0;
}

.subtitle {
  font-size: 13px;
  letter-spacing: 3px;
  color: #777;
}

/* LAYOUT REVISTA */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* IMAGEN */
.content img {
  width: 100%;
  height: auto;
}

/* TEXTO */
.text {
  text-align: left;
}

.text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  margin-bottom: 20px;
}

.text p {
  line-height: 1.7;
  margin-bottom: 20px;
}

/* BOTONES */
a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #111;
  margin-right: 15px;
  font-size: 13px;
  letter-spacing: 1px;
}

a:hover {
  opacity: 0.5;
}
